body {
    font-size: 16px;
    font-family: 'Koh Santepheap', cursive;
}

h1, body, footer{
max-width:760px;
margin: 0 auto;
}
 
h1, footer {
    text-align: center;
    padding: .5rem;
    background-color: rgba(168, 133, 18, 0.356);
    font-family: 'Playfair Display', serif;

}
h2{
    background-color: rgba(79, 162, 230, 0.459);
    font-family: 'Koh Santepheap', cursive;
    max-width: 250px;
    text-align: center;
    max-height: 30px;
}
header {
    padding: 1.5rem;
    text-align: center;
}

body img{
    width: 250px;
    height: auto;

}
div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}